In [25]:
import pandas as pd

In [33]:
# Load the data with the correct delimiter and ignore errors in lines
try:
    df = pd.read_csv('data.csv', sep='\t', quoting=3, engine='python')
except pd.errors.ParserError as e:
    print(f"Error parsing CSV: {e}")

# Display the first few rows of the DataFrame
df.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology

In [37]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

# Handle missing values (if any)
# If there are missing values, decide on an appropriate strategy such as imputation or dropping columns/rows.

# Check data types
data_types = df.dtypes
print(data_types.unique())

# If there are categorical variables, handle them (e.g., one-hot encoding)
# For simplicity, let's drop any columns with object (non-numeric) data types.
df = df.select_dtypes(exclude=['object'])

# Display the first few rows of the preprocessed DataFrame
df.head()

country    2
dtype: int64
[dtype('int64') dtype('O')]

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4

In [39]:
# Check for missing values again
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

Series([], dtype: int64)

In [1]:
from tqdm import tqdm
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Define features (X) and target variable (y)
X = df.drop(columns=['familysize'])  # excluding 'familysize' as it's not part of your target labels
y = df['familysize']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=30)

# Create and train the SVM model
svm_model = SVC(C=10, kernel='rbf', gamma=0.2, random_state=24)

# Define the number of iterations for progress bar
num_iterations = 100
for i in tqdm(range(num_iterations), desc="Training Progress"):
    # Fit the model during each iteration to simulate progress
    svm_model.partial_fit(X_train, y_train, classes=np.unique(y))

# Make predictions on the test set
y_pred = svm_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the evaluation metrics
print(f"\nAccuracy: {accuracy:.2f}")
print("Classification Report:")
print(classification_rep)
print("Confusion Matrix:")
print(conf_matrix)

NameError: name 'df' is not defined